<!DOCTYPE html>
<html>
<head>
  <title>Stripeon</title>
  <%= stylesheet_link_tag    "stripeon/application", media: "all" %>
  <%= javascript_include_tag "stripeon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
